# Xcode
.DS_Store
*.xcodeproj
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcscheme

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# SPM
.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# IDE
.idea/
*.swp
*~
